{
  "mcpServers": {
    "github": {
      "command": "npx",
      "args": ["@modelcontextprotocol/server-github"],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "${GITHUB_PAT}"
      }
    },
    "gitea": {
      "command": "gitea-mcp",
      "args": [
        "-t",
        "stdio"
      ],
      "env": {
        "GITEA_HOST": "${GITEA_HOST}",
        "GITEA_ACCESS_TOKEN": "${GITEA_ACCESS_TOKEN}"
      }
    },
    "time": {
      "command": "uvx",
      "args": ["mcp-server-time", "--local-timezone=Europe/Bratislava"]
    }
  }
}