.env


__pycache__/
.venv/
*.egg-info/

nginx/config.yaml

*.bin

mikoshi/data/
mikoshi/logs/
mikoshi/uploads/

*.wav

code-server/projects
code-server/share
code-server/ssh

*.eim

qdrant/snapshots/
qdrant/storage/
qdrant/.qdrant-initialized