<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.logdy</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/logdy</string>
        <string>follow</string>
        <string>--port</string>
        <string>9011</string>
        <string>--ui-ip</string>
        <string>0.0.0.0</string>
        <string>--no-analytics</string>
        <string>/Users/matus/Library/Logs/llamactl/llamactl.log</string>
        <string>/Users/matus/Library/Logs/llamactl/llamactl.error.log</string>
        <string>/Users/matus/Library/Logs/audio/audio.log</string>
        <string>/Users/matus/Library/Logs/audio/audio.error.log</string>
        <string>/Users/matus/Library/Logs/glances/glances.log</string>
        <string>/Users/matus/Library/Logs/glances/glances.error.log</string>
	<string>/Users/matus/homelab/agentkit/logs/agentkit.log</string>
        <string>/Users/matus/Library/Logs/logdy/logdy.log</string>
        <string>/Users/matus/Library/Logs/logdy/logdy.error.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/matus/Library/Logs/logdy/logdy.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/matus/Library/Logs/logdy/logdy.error.log</string>
</dict>
</plist>
