mcps:
  gitea:
    command: gitea-mcp
    type: "stdio"
    args:
      - "-t"
      - "stdio"
    env:
      GITEA_HOST: "${GITEA_HOST}"
      GITEA_ACCESS_TOKEN: "${GITEA_ACCESS_TOKEN}"
  time:
    command: uvx
    type: "stdio"
    args:
      - mcp-server-time
      - --local-timezone=Europe/Bratislava
  openweathermap:
    command: "npx"
    type: "stdio"
    args:
      - "@tristau/openweathermap-mcp"
      - "--apikey"
      - ${OPENWEATHERMAP_API_KEY}

providers:
  llamactl:
    api_base: "${LLAMACTL_API_BASE_URL}"
    api_key: "${LLAMACTL_API_KEY}"
  openrouter:
    api_base: "https://openrouter.ai/api/v1"
    api_key: "${OPENROUTER_API_KEY}"
    model_filter:
      conditions:
        - field: "id"
          contains: ":free"
  z-ai:
    api_key: "${Z_AI_API_KEY}"
    api_base: "https://api.z.ai/api/paas/v4/"

github_token: "${GITHUB_TOKEN}"