mcps:
  gitea:
    command: gitea-mcp
    type: "stdio"
    args:
      - "-t"
      - "stdio"
    env:
      GITEA_HOST: "${GITEA_HOST}"
      GITEA_ACCESS_TOKEN: "${GITEA_ACCESS_TOKEN}"
  time:
    command: uvx
    type: "stdio"
    args:
      - mcp-server-time
      - --local-timezone=Europe/Bratislava
  openweathermap:
    command: "npx"
    type: "stdio"
    args:
      - "@tristau/openweathermap-mcp"
      - "--apikey"
      - ${OPENWEATHERMAP_API_KEY}

default_chat:
  provider_id: "llamactl"
  model_id: "GLM-47-Flash"
  system_prompt: "You are a helpful AI assistant."
  tool_servers: ["time", "notes", "tasks", "openweathermap"]

plugins:
  chatbots_dir: "/app/plugins/chatbots"
  tools_dir: "/app/plugins/tools"
  skills_dir: "/app/plugins/skills"

providers:
  llamactl:
    api_base: "${LLAMACTL_API_BASE_URL}"
    api_key: "${LLAMACTL_API_KEY}"
  openrouter:
    api_base: "https://openrouter.ai/api/v1"
    api_key: "${OPENROUTER_API_KEY}"
    model_filter:
      conditions:
        - field: "id"
          contains: ":free"

transcription:
  base_url: "http://host.docker.internal:9100"

github_token: "${GITHUB_TOKEN}"
history_db_path: "/app/data/agentkit.db"